<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <div class="modal-body">
        <h2>¡Bienvenido al Admin! </h2>

        <p>En esta sección podras ver:</p>

        <ul>
          <li>El comportamiento diario, mensual y anual de las ventas de tu Negocio.</li>
          <li>Los Productos más vendidos</li>
          <li> las Ultimas Ventas</li>
        </ul>

        <p>Además tienes mas opciones en el menu lateral Izquierdo</p>
        <small>Eventualmente estaremos mejorando y agregando más opciones, con actualiaciones periodicas</small>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" data-dismiss="modal">Ok, Quiero Ver!</button>
        <button type="button" class="btn btn-outline-danger" (click)="onNoShowMore()">No quiero ver más este
          mensaje</button>
      </div>
    </div>
  </div>
</div>