<div class="row">
  <app-skeleton-loader *ngIf="isLoading" [rows]="1" [columns]="3"></app-skeleton-loader>
  <app-skeleton-loader *ngIf="isLoading" [rows]="2" [columns]="2"></app-skeleton-loader>
  <app-skeleton-loader *ngIf="isLoading" [rows]="1" [columns]="1"></app-skeleton-loader>



  <div class="tab-content-set">
    <ul class="nav">
      <li>
        <a href="#" onclick="return false;" [ngClass]="{'active': option_selectedd == 1}" (click)="optionSelected(1)">
          <h3 class="btn btn-outline-info"> {{'Detalles'}}</h3>
        </a>
      </li>
      <li>
        <a href="#" onclick="return false;" [ngClass]="{'active': option_selectedd == 2}" (click)="optionSelected(2)">
          <h3 class="btn btn-outline-info">{{'Editar'}}</h3>
        </a>
      </li>
      <li>
        <a href="#" onclick="return false;" [ngClass]="{'active': option_selectedd == 3}" (click)="optionSelected(3)">
          <h3 class="btn btn-outline-info">{{'Imagenes'}}</h3>
        </a>
      </li>



    </ul>
  </div>
  <!-- Tab panes -->
  <div *ngIf="option_selectedd == 1">
    <div class="card ">
      <div class="card-body">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <p><b>Título:</b> {{ congeneral.titulo }}</p>
            <p><b>CR:</b> {{ congeneral.cr }}</p>
            <p><b>Teléfono uno:</b> {{ congeneral.telefono_uno }}</p>
            <p><b>Teléfono dos:</b> {{ congeneral.telefono_dos }}</p>
            <p><b>Email uno:</b> {{ congeneral.email_uno }}</p>
            <p><b>Email dos:</b> {{ congeneral.email_dos }}</p>
            <p><b>Dirección:</b> {{ congeneral.direccion }}</p>
            <p><b>Horarios:</b>{{ congeneral.horarios }}</p>
          </div>
          <div class="col-xs-12 col-sm-4">
            <p><b>Modo Paypal Sandbox (modo de pruebas):</b></p>
            <span class="badge badge-success badge-shadow" *ngIf="congeneral.modoPaypal == true">{{
              congeneral.modoPaypal }}</span>
            <span class="badge badge-primary badge-shadow" *ngIf="congeneral.modoPaypal == false">{{
              congeneral.modoPaypal }}</span>
            <p><b>Sandbox:</b> {{ congeneral.sandbox }}</p>
            <p><b>Cliente Paypal ID:</b> {{ congeneral.clientePaypal }}</p>
            <p><b>Rapid Api Key:</b> {{ congeneral.rapidapiKey }}</p>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <p><b>Logo:</b></p>
                <img [src]="congeneral.img | imagenPipe : 'congenerals'" style="width: 150px; margin-left: 10px"
                  class="img-responsive img-thumbnail" alt="" />
              </div>
              <div class="col-xs-12 col-sm-6">
                <p><b>Favicon:</b></p>
                <img [src]="congeneral.favicon | imagenPipe : 'congenerals'" style="width: 150px; margin-left: 10px"
                  class="img-responsive img-thumbnail" alt="" />
              </div>
            </div>


            <div class="reds" *ngIf="redessociales && redessociales.length > 0">
              <hr>
              <h3 class="col-12">Redes Sociales</h3>
              <div class="clear"></div>
              <div class="cont" *ngFor="let red of redessociales;let i = index;">

                <a *ngIf="red.icono !== 'fa fa-whatsapp'" [href]="red.url" target="_blank" rel="noopener noreferrer">
                  <div class="option-admin">
                    <i [class]="red.icono"></i>
                    <!-- <p>{{ red.title }}</p> -->
                  </div>
                </a>
                <a *ngIf="red.icono === 'fa fa-whatsapp'"
                  href="https://wa.me/{{red.url}}?text=Estoy%20interesado%20en%20el%20producto%20en%20la%20flechaapp,%20favor%20ampliar%20informacion"
                  target="_blank" rel="noopener noreferrer">
                  <div class="option-admin">
                    <i [class]="red.icono"></i>
                    <!-- <p>{{ red.title }}</p> -->
                  </div>
                </a>
              </div>
            </div>
          </div>



        </div>
        <div class="col-12">
          <hr>
          <p><b>iframe_mapa (ubicación):</b></p>
          <!-- <iframe class="mapa" [src]="getMapIframe(congeneral.iframe_mapa)" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; " allowfullscreen></iframe> -->


        </div>

      </div>
    </div>
  </div>
  <div *ngIf="option_selectedd == 2">
    <div class="card">
      <div class="card-body">
        <form class="form p-t-20 form-horizontal form-material" [formGroup]="confGeneralForm">
          <div class="row">
            <div class="form-group col-xs-12 col-sm-4">
              <label for="select-input">Language</label>
              <select class="form-control" formControlName="lang" required>
                <option disabled value="">Seleccione</option>
                <option value="en">English</option>
                <option value="es">Español</option>
              </select>
            </div>
            <div class="form-group col-xs-12 col-sm-4">
              <label for="exampleInputuname">Razón social</label>
              <div class="input-group">
                <input type="text" formControlName="titulo" class="form-control" id="exampleInputuname"
                  placeholder="Razón social" />
              </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4">
              <label for="exampleInputsubcategorias">Copy Right</label>
              <div class="input-group">
                <input type="text" formControlName="cr" class="form-control" id="exampleInputsubcategorias"
                  placeholder="Copy Right" />
              </div>
            </div>
          </div>
          <!-- Telefonos -->
          <div class="row">
            <div class="form-group col-xs-12 col-sm-6">
              <div class="row">
                <div class="col">
                  <label for="text-input">Telefonos 1</label>
                  <input class="form-control" type="number" placeholder="Telefono 1" formControlName="telefono_uno" />
                </div>
                <div class="col">
                  <label for="text-input">Telefonos 2</label>
                  <input class="form-control" type="number" placeholder="Telefono 2" formControlName="telefono_dos" />
                </div>
              </div>
            </div>
            <div class="form-group col-xs-12 col-sm-6">
              <label for="text-input">Correos</label>
              <div class="col-md-12">
                <div class="row">
                  <div class="col">
                    <input class="form-control" type="email" placeholder="Email 1" formControlName="email_uno" />
                  </div>
                  <div class="col">
                    <input class="form-control" type="email" placeholder="Email 2" formControlName="email_dos" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Dirección -->
          <div class="row">
            <div class="form-group col-xs-12 col-sm-4">
              <label for="textarea-input">Dirección</label>
              <ckeditor [editor]="Editor" formControlName="direccion" data="<p>Hello, world!</p>" required>
              </ckeditor>
            </div>
            <div class="form-group col-xs-12 col-sm-4">
              <label for="textarea-input">Mapa (iframe)</label>
              <div class="col-md-12">
                <div class="row">
                  <textarea class="form-control" id="textarea-input" placeholder="Código de google maps."
                    formControlName="iframe_mapa"></textarea>

                </div>
              </div>
            </div>
            <div class="form-group col-xs-12 col-sm-4">
              <label for="textarea-input">Horarios</label>
              <textarea class="form-control" id="textarea-input" rows="2" placeholder="Horarios de atención."
                formControlName="horarios"></textarea>
            </div>
          </div>
          <!-- paypal -->
          <div class="row">
            <div class="form-group col-xs-12 col-sm-3">
              <label for="select-input">Modo Sandbox?</label>
              <select class="form-control" formControlName="modoPaypal">
                <option disabled value="">SELECCIONAR</option>
                <option [value]="true">Activo</option>
                <option [value]="false">Inactivo</option>
              </select>
            </div>
            <div class="form-group col-xs-12 col-sm-3">
              <label for="textarea-input">Cliente Paypal</label>
              <input type="text" formControlName="clientePaypal" class="form-control" id="exampleInputsubcategorias"
                placeholder="CLiente id paypal" />
            </div>
            <div class="form-group col-xs-12 col-sm-3">
              <label for="textarea-input">Sandbox Paypal</label>
              <input type="text" formControlName="sandbox" class="form-control" id="exampleInputsubcategorias"
                placeholder="Sandbox paypal" />
            </div>
            <div class="form-group col-xs-12 col-sm-3">
              <label for="textarea-input">Rapid Api</label>
              <input class="form-control" type="text" placeholder="Rapid api key" formControlName="rapidapiKey" />

            </div>
          </div>

          <!-- redes sociales -->
          <div class="row ">
            <details class="shadowSearch cuadrosearch">
              <summary class="">{{'Social Networks'}}</summary>
              <div class="row">
                <div class="col-12 col-sm-4">
                  <div class="form-group input-group ">
                    <!-- <label >{{'formulario.Icon'}}<span class="login-danger">*</span></label> -->
                    <span class="input-group-text" id="basic-addon1">
                      <i class="fa fa-info-circle"></i>
                    </span>
                    <select class="form-control" name="icono" [ngModelOptions]="{standalone: true}" [(ngModel)]="icono"
                      (change)="onPaServiceSelect(icono)">
                      <option *ngFor="let ic of listIcons " value="{{ic.icon}}">
                        {{ic.name}} <i class="{{ic.name}}"></i>
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <label class="labelgoogle">
                    <input class="form-control input" name="title" placeholder=" " [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="title" type="text" required>
                    <span class="label__name">
                      {{'Name'}} <span class="login-danger">*</span>
                    </span>
                  </label>
                </div>
                <div class="col-12 col-sm-4" *ngIf="!iswhatsapp">
                  <label class="labelgoogle">
                    <input class="form-control input" name="url" placeholder=" " [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="url" type="text" required>
                    <span class="label__name">
                      {{'Address'}}<span class="login-danger">*</span>
                    </span>
                  </label>
                </div>
                <div class="col-12 col-sm-4" *ngIf="iswhatsapp">
                  <div class="form-group ">
                    <label class="labelgoogle">
                      <input class="form-control input" placeholder=" " name="url" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="url" type="text" required>
                      <span class="label__name">
                        {{'Whatsapp Number'}}<span class="login-danger">*</span>

                      </span>
                    </label>

                  </div>
                </div>
                <div class="col-12 mb-3">
                  <button class="btn btn-primary btn-sm text-end " (click)="addRedSocial()">+ {{'Add'}}</button>
                  <!-- <button class="btn btn-danger btn-sm">x</button> -->
                </div>
              </div>
            </details>

            <div class="col-xs-12 ">
              <div class="table-responsive">
                <table class="table mb-0 table-striped">
                  <thead>
                    <tr>
                      <th>{{'Icon'}}</th>
                      <th>{{'Name'}}</th>
                      <th>{{'Address/Whatsapp'}}</th>
                      <th>{{'Action'}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of redessociales ; let i=index">
                      <td>
                        <i [class]="'fa' +' '+ item.icono" aria-hidden="true"></i>

                      </td>
                      <td>
                        {{item.title}}

                      </td>
                      <td>
                        {{item.url }}
                      </td>
                      <td>
                        <button class="btn btn-danger btn-sm text-end" (click)="deletered(i)">x</button>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>

          </div>
          <!-- redes sociales -->

          <button type="button" [disabled]="confGeneralForm.invalid || isLoading" (click)="updateConfiguracion()"
            class="btn btn-success waves-effect waves-light m-r-10 btn-block">
            <i class="fa fa-save"></i> Guardar cambios
          </button>

        </form>
      </div>
    </div>
  </div>
  <div *ngIf="option_selectedd == 3">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="card ">
          <div class="card-body">
            <h4 class="card-title">imagen</h4>
            <h6 class="card-subtitle">Logo</h6>
            <div class="row">
              <div class="text-center col-xs-12 col-sm-6">
                <img *ngIf="!imgTemp" [src]="congeneral.img | imagenPipe : 'congenerals'"
                  class="img-responsive img-thumbnail" alt="" />
                <img *ngIf="imgTemp" [src]="imgTemp" class="img-avatar" />
              </div>
              <div class="col-xs-12 col-sm-6">
                <input type="file" (change)="cambiarImagen($event.target.files[0])" />
                <br />
                <br />
                <button type="button" [disabled]="!imagenSubir" (click)="subirImagen()"
                  class="btn btn-success waves-effect waves-light m-r-10 btn-block">
                  <i class="fa fa-save"></i> Cambiar imagen
                </button>
                <div class="col-xs-12">
                  <h4>{{'Especificaciones'}}:</h4>
                  <ul>
                    <li>{{'Tamaño máximo'}}: 300px X 300px</li>
                    <li>{{'Peso máximo'}}: 3 mega bites</li>
                    <li>{{'Formato permitido'}}: jpg, .gif, .png</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="card ">
          <div class="card-body">
            <h4 class="card-title">Favicon</h4>
            <h6 class="card-subtitle">Logo de navegador</h6>
            <div class="row">
              <div class="text-center col-xs-12 col-sm-6">
                <img *ngIf="!imgTemp1" [src]="congeneral.favicon | imagenPipe : 'congenerals'"
                  class="img-responsive img-thumbnail" alt="" />
                <img *ngIf="imgTemp1" [src]="imgTemp1" class="img-avatar" />
              </div>
              <div class="col-xs-12 col-sm-6">
                <input type="file" (change)="cambiarImagen1($event.target.files[0])" />
                <br />
                <br />
                <button type="button" [disabled]="!imagenSubir1" (click)="subirImagen1()"
                  class="btn btn-success waves-effect waves-light m-r-10 btn-block">
                  <i class="fa fa-save"></i> Cambiar imagen
                </button>
                <div class="col-xs-12">
                  <h4>{{'Especificaciones'}}:</h4>
                  <ul>
                    <li>{{'Tamaño máximo'}}: 300px X 300px</li>
                    <li>{{'Peso máximo'}}: 3 mega bites</li>
                    <li>{{'Formato permitido'}}: jpg, .png, .ico</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>


    </div>
  </div>


</div>