<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

          <p>{{'En esta sección podrás'|translate}}:</p>
          <ul>
            <li>{{'Ver el comportamiento diario, mensual y anual de las ventas de tu Negocio'|translate}}.</li>
            <li>{{'El estado de las ventas'|translate}}</li>
            <li>{{'Detalle de cada venta'|translate}}</li>
            <li>{{'Crear número o código de traking'|translate}}</li>
            <li>{{'Puedes ver y enviar la factura al correo del cliente'|translate}}</li>
          </ul>

      </div>
      <div class="modal-footer botonesmodal">
        <button type="button" class="btn btn-outline-success" data-dismiss="modal">{{'Continuar'|translate}}</button>
        <button type="button" class="btn btn-outline-danger" (click)="onNoShowMore()">
          {{'No quiero ver más este mensaje'|translate}}</button>
      </div>
    </div>
  </div>
</div>