<div class="modal fade" id="viewPago" tabindex="-1" aria-labelledby="pagoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pagoModalLabel">{{title}} | {{pagoSeleccionado?.referencia}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="onClose()"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <p><b>{{'Nombre del Banco'|translate}}:</b> {{pagoSeleccionado?.bankName}}</p>
                            <p><b>{{'Referencia'|translate}}:</b> {{pagoSeleccionado?.referencia}}</p>
                            <p><b>{{'Monto'|translate}}:</b> {{pagoSeleccionado?.amount | currency:tienda_moneda}}</p>
                            <p><b>{{'Tasa Bcv'|translate}}:</b> {{pagoSeleccionado?.tasa | currency:'Bs.'}}</p>
                            <p><b>{{'Método'|translate}}:</b> {{pagoSeleccionado?.metodo_pago.tipo}}</p>
                            <p><b>{{'Nombre de Usuario'|translate}}:</b>&nbsp;
                                {{pagoSeleccionado?.name_person}}
                                <!-- <a [routerLink]="['/dashboard/user/', pagoSeleccionado?.user]">
                                    {{pagoSeleccionado?.name_person}}</a> -->
                            </p>
                            <p><b>{{'Teléfono'|translate}}:</b> {{pagoSeleccionado?.phone}}</p>
                            
                            
                            <p><b>{{'Fecha'|translate}} | {{'Hora'|translate}}:</b> {{pagoSeleccionado?.createdAt | date:'MMM d, y, h:mm:ss a'}}</p>
                            <p><b>{{'Status'|translate}}:</b>&nbsp;
                                <span class="badge bg-success"
                                    *ngIf="pagoSeleccionado?.status === 'ok'">{{'Aprobado'|translate}}</span>
                                <span class="badge bg-primary"
                                    *ngIf="pagoSeleccionado?.status === 'pending'">{{'Pendiente'|translate}}</span>
                                <span class="badge bg-danger"
                                    *ngIf="pagoSeleccionado?.status === 'no'">{{'Rechazado'|translate}}</span>
                            </p>
                            


                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="pedidolista">
                                <div  *ngFor="let pedidoitem of pagoSeleccionado?.pedido?.pedidoList;  let i = index">
                                <div class="bg-light rounded-4 p-3 mb-4" style="border-radius: 15px;">

                                    <div class="d-flex justify-content-between mb-3 border-bottom pb-2">
                                        <span class="text-muted small">{{'Categoria'|translate}}</span>
                                        <span class="fw-bold small">
                                            {{ translate.currentLang === 'en' ? (pedidoitem.categoria.nombre?.en || pedidoitem.categoria.nombre?.es) : (pedidoitem.categoria.nombre?.es || pedidoitem.categoria.nombre?.en) }}
                                        </span>
                                    </div>
                                    <div class="d-flex justify-content-between mb-3 border-bottom pb-2">
                                        <span class="text-muted small">{{'Nombre'|translate}}</span>
                                        <div class="d-flex flex-column">
                                            <span class="fw-bold small">
                                                {{ translate.currentLang === 'en' ? pedidoitem?.titulo?.en : pedidoitem?.titulo?.es }}
                                            </span>
                                        <span class="fw-bold small">{{ pedidoitem.selector_elegido }}</span>
                                        </div>
                                    </div>
                                    

                                    <div class="d-flex justify-content-between">
                                        <span class="text-muted small">{{'Cantidad'|translate}}</span>
                                        <span class="fw-bold small">{{ pedidoitem.cantidad }}</span>
                                    </div>

                                    <div class="d-flex justify-content-between">
                                        <span class="text-muted small">{{'Precio'|translate}}</span>
                                        <span class="fw-bold small">{{ +pedidoitem.precio_ahora |
                                            currency:tienda_moneda }}</span>
                                    </div>

                                    <div class="d-flex justify-content-between">
                                        <span class="text-muted small">{{'Total'|translate}}</span>
                                        <!-- El símbolo + convierte el texto "20" y "10" en números reales antes de multiplicar -->
                                        <span class="fw-bold small">{{ (+pedidoitem.precio_ahora) *
                                            (+pedidoitem.cantidad) | currency:tienda_moneda
                                            }}</span>
                                    </div>
                                </div>
                            </div>
                            </div>
                            
                            
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <img [src]="pagoSeleccionado?.img | imagenPipe: 'transferencias' " class="img-responsive shadow-sm">
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    (click)="onClose()">{{'Cerrar'|translate}}</button>
            </div>
        </div>
    </div>
</div>