<div class="modal fade" id="editSelector" tabindex="-1" aria-labelledby="selectorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="selectorModalLabel">{{pageTitle|translate}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="onClose()"></button>
            </div>
            <div class="modal-body">
                <!-- <app-loading *ngIf="isLoading"></app-loading> -->
                <div class="container">
                    <div class="row">
                        <form #selectorForm="ngForm" (ngSubmit)="onSubmit(selectorForm)">
                            <div class="btn-group mr-2 mb-2" role="group" aria-label="Apply settings"
                                style="width: 100%;">
                                <input type="text" class="form-contorl" name="titulo" [(ngModel)]="titulo"
                                    style="padding-left: 10px;width: 100%" required autocomplete="off">
                                <button type="submit" class="btn btn-info">
                                    <i class="czi-add"></i>
                                </button>
                            </div>
                        </form>
                        <div class="col-lg-8" *ngIf="!selector">
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <span class="font-weight-medium">{{'Mensaje'|translate}}:</span> 
                                {{'No hay ningun selector en este producto'|translate}}.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-10" *ngIf="msm_error">
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <span class="font-weight-medium">{{'Mensaje'|translate}}:</span> {{msm_error}}.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-10" *ngIf="selector">
                            <div class="table-responsive">
                                <table class="table table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Item</th>

                                            <th class="text-center">{{'Eliminar'|translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let item of selector">
                                        <tr>
                                            <td class="text-center">{{item.titulo}}</td>

                                            <td class="text-center">
                                                <button class="btn btn-danger btn-sm"
                                                    (click)="eliminar(item._id)">{{'Eliminar'|translate}}</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    (click)="onClose()">{{'Cerrar'|translate}}</button>
            </div>
        </div>
    </div>
</div>