<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

          <p>{{'En esta sección podrás'|translate}}:</p>
          <ul>
            <li>{{'Ver las Categorías disponibles'|translate}}</li>
            <li>{{'Crear Categorías adaptadas a tu negocio'|translate}}</li>
            <li>{{'Encontrar por nombre'|translate}}</li>
            <li>{{'Recomendamos no desactivar las categorías activas'|translate}}</li>
            <li>{{'Puedes usar los ya existentes como guía o ejemplo'|translate}}</li>
          </ul>

      </div>
      <div class="modal-footer botonesmodal">
        <button type="button" class="btn btn-outline-success" data-dismiss="modal">{{'Continuar'|translate}}</button>
        <button type="button" class="btn btn-outline-danger" (click)="onNoShowMore()">
          {{'No quiero ver más este mensaje'|translate}}</button>
      </div>
    </div>
  </div>
</div>