<app-skeleton-loader *ngIf="isLoading" [rows]="1" [columns]="5"></app-skeleton-loader>
<app-skeleton-loader *ngIf="isLoading" [rows]="1" [columns]="6"></app-skeleton-loader>


<div class="container" *ngIf="!isLoading">
    <div class="row">
        <div class="col-lg-12" *ngIf="msm_error">
            <div class="alert alert-primary alert-danger fade show" role="alert">
                <span class="font-weight-medium">Mensaje:</span> {{msm_error}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="close_alert()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <!-- ventasFiltradas -->
        <div class=" mb-3">
            <app-backbutton></app-backbutton> &nbsp;
            <a href="javascript:;" (click)="PageSize()" class="btn btn-primary ">
                <i class="fas fa-sync"></i></a>
        </div>
        <div class="col-12  card">
            <div class="table-responsive table-sm">
                <table class="table table-sm">
                    <thead class="thead-dark">
                        <tr>

                            <th>Pedido Id</th>
                            <th>Verificado </th>
                            <th>delivery</th>
                            <th>usuario</th>
                            <th>Asignado</th>
                            <th>telefono</th>
                            <th>Direccion</th>
                            <th>OP</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let pedido of pedidos |verified |  paginate: { itemsPerPage: countp, currentPage: pp }">
                        <tr>
                            <td style="font-size: 13px;">{{pedido._id | slice:0:15}}...</td>
                            <td style="font-size: 13px;">

                                <div class="font-size-sm mb-4">
                                    <span class="badge badge-danger badge-shadow" *ngIf="pedido.verificado === false">{{pedido.verificado }}</span>
                                    <span class="badge badge-success badge-shadow" *ngIf="pedido.verificado === true">{{pedido.verificado}}</span>

                                </div>
                            </td>
                            <td style="font-size: 13px;">

                                <div class="font-size-sm mb-4">
                                    <span class="badge badge-success badge-shadow"
                                        *ngIf="pedido.delivery == 'true'">{{pedido.delivery}}</span>
                                    <span class="badge badge-danger badge-shadow"
                                        *ngIf="pedido.delivery == 'false'">{{pedido.delivery}}</span>

                                </div>
                            </td>
                            
                            
                            <td style="font-size: 13px;">{{pedido.user.first_name}} {{pedido.user.last_name}}</td>
                            <td style="font-size: 13px;">

                                <div class="font-size-sm mb-4">
                                    <span class="badge badge-success badge-shadow"
                                        *ngIf="pedido.asignado == true">{{pedido.asignado}}</span>
                                    <span class="badge badge-danger badge-shadow"
                                        *ngIf="pedido.asignado == false">{{pedido.asignado}}</span>

                                </div>
                            </td>
                            <td style="font-size: 13px;">{{pedido.user.first_name}} {{pedido.user.last_name}}</td>
                            <td style="font-size: 13px;">{{pedido.user.telefono}}</td>
                            <td  style="font-size: 13px;">
                                <span *ngIf="pedido.delivery === 'false' || pedido.delivery === 'true' && pedido.direccion === null ">
                                    {{ 'Sin dirección / Retiro en tienda' |translate }}
                                </span>
                                <span *ngIf="pedido.delivery === 'true' && pedido.direccion !== null ">
                                    {{ 'Revisar Dirección' |translate }}
                                </span>
                            </td>
                            <td class="text-center">
                                <a class="nav-link-style text-success" (click)="onViewVenta(pedido)"
                                    data-bs-toggle="modal" class="cursor" data-bs-target="#asignarDelivery"
                                    style="cursor:pointer">
                                    <div class="czi-share"></div>
                                </a>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <pagination-controls (pageChange)="pp = $event"></pagination-controls>
        </div>

    </div>
    <div class="row">
        <!-- asignaciones -->
        <div class="col-12  card">
            <h3>Asignaciones</h3>
            <div class="table-responsive table-sm">
                <table class="table table-sm">
                    <thead class="thead-dark">
                        <tr>

                            <th>T. Vehiculo</th>
                            <th>Licencia</th>
                            <th>Pedido Id</th>
                            <th>Tienda</th>
                            <th>Estado</th>
                            <th>Fecha</th>
                            <th>OP</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let asignacion of asignaciones |  paginate: { itemsPerPage: count, currentPage: p }">
                        <tr>
                            <td style="font-size: 13px;">{{asignacion.driver.tipo_vehiculo}}</td>
                            <td style="font-size: 13px;">{{asignacion.driver.licencianum}}</td>
                            <td style="font-size: 13px;">{{asignacion.pedido}}</td>
                            <td style="font-size: 13px;">{{asignacion.tienda.nombre}}</td>
                            <td style="font-size: 13px;">
                                <span class="badge badge-accent badge-shadow"
                                    *ngIf="(asignacion.status || '').toUpperCase() === 'POR-ASIGNAR'">{{asignacion.status
                                    ||
                                    'N/A'}}</span>
                                <span class="badge badge-success badge-shadow"
                                    *ngIf="(asignacion.status || '').toUpperCase() === 'ASIGNADO'">{{asignacion.status
                                    ||
                                    'N/A'}}</span>
                                <span class="badge badge-primary badge-shadow"
                                    *ngIf="(asignacion.status || '').toUpperCase() === 'ENTREGADO'">{{asignacion.status
                                    ||
                                    'N/A'}}</span>
                                <span class="badge badge-warning badge-shadow"
                                    *ngIf="(asignacion.status || '').toUpperCase() === 'CONFIRMADO'">{{asignacion.status
                                    ||
                                    'N/A'}}</span>
                                <span class="badge badge-secondary badge-shadow"
                                    *ngIf="!(asignacion.status || '').toUpperCase()">N/A</span>

                            </td>
                            <td style="font-size: 13px;">{{asignacion.updatedAt|date:'dd/mm/YYYY'}}</td>
                            <td class="text-center">
                                <a class="nav-link-style text-primary" data-toggle="modal"
                                    [attr.data-target]="'#edit-'+asignacion._id" style="cursor:pointer">
                                    <div class="czi-trash"></div>
                                </a>
                                <div class="modal fade" [attr.id]="'edit-'+asignacion._id" tabindex="-1" role="dialog"
                                    style="display: none;" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Confirmación</h4>
                                                <button class="close" type="button" data-dismiss="modal"
                                                    aria-label="Close"><span aria-hidden="true">×</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <p class="font-size-sm">¿Desea eliminar definitivamente el regsitro?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-secondary btn-sm" type="button"
                                                    data-dismiss="modal">Cancelar</button>
                                                <!-- <button class="btn btn-primary btn-shadow btn-sm" type="button"
                                                    (click)="eliminar(item._id)">Suprimir</button> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>

<!-- modal -->
<app-modal-asignar (reloadList)="ngOnInit()" [drivers]="drivers" [ventaSelected]="ventaSelected"
    (closeModal)="onClose()" (asignar)="asignarDeliveryconDriver($event)"  #asignarDelivery></app-modal-asignar>
<!-- modal -->