<div class="card-body">
    <div class="topepedido">
        <div class="d-flex flex-column">
            <small>{{'Pedido'|translate}} Id:</small>
            <p class="box-title m-b-0 small">{{item._id}}</p>
            <small>{{'Cliente'|translate}}:</small>
            <p class="box-title m-b-0">{{item.user.first_name}}</p>
            <small>{{'Teléfono'|translate}}:</small>
            <p class="box-title m-b-0">{{item.user.telefono}}</p>
            <small>{{'Creado'|translate}}:</small>
            <p class="card-title"><span class="lstick"></span>
                <span class="font-size-ms text-muted">
                    {{item.createdAt|date :'MMM d, y, h:mm:ss a'}}
                </span>
            </p>
        </div>
        <div>
            <span class="badge badge-warning badge-shadow"
                *ngIf="(item.status || '').toUpperCase() === 'PENDING'">{{item.status ||
                'N/A'}}</span>
            <span class="badge badge-success badge-shadow"
                *ngIf="(item.status || '').toUpperCase() === 'ACTIVO'">{{item.status ||
                'N/A'}}</span>
            <span class="badge badge-primary badge-shadow"
                *ngIf="(item.status || '').toUpperCase() === 'INPROCESS'">{{item.status
                ||
                'N/A'}}</span>
            <span class="badge badge-secondary badge-shadow" *ngIf="!(item.status || '').toUpperCase()">N/A</span>
        </div>
    </div>

    <!-- botones opciones -->
    <div class="d-flex justify-content-between align-items-center button-group mt-3">
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
            [attr.data-bs-target]="'#ver-'+item._id">
            <span class="czi-eye"></span> {{'Ver'|translate}}</button>
        <button type="button" class="btn btn-outline-warning" *ngIf="(item.status || '').toUpperCase() === 'PENDING'"
            (click)="onActivar(item._id)">
            <span class="czi-check"></span> {{'Activar'|translate}}</button>
        <button type="button" class="btn btn-outline-success" *ngIf="(item.status || '').toUpperCase() === 'INPROCESS'"
            (click)="onFinalizar(item._id)">
            <span class="czi-check"></span> {{'Finalizar'|translate}}</button>

        <button type="button" class="btn btn-outline-danger" (click)="onEliminar(item)">
            <span class="czi-delete-document"></span> {{'Eliminar'|translate}}</button>
    </div>
    <!-- botones opciones -->
</div>