<div class="row animated fadeIn fast">
    <div class="col-12">
        <app-search [query]="query" [modelo]="tienda" [colleccionName]="tiendas" [colleccion]="'tiendas'"
            (searchEvent)="handleSearchEvent($event)" (resetEvent)="PageSize()"></app-search>
    </div>
</div>
<app-skeleton-loader *ngIf="cargando" [rows]="1" [columns]="3"></app-skeleton-loader>
<app-skeleton-loader *ngIf="cargando" [rows]="3" [columns]="5"></app-skeleton-loader>


<div class="row" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-11">
                        <h4 class="card-title">Tiendas: ({{ tiendas.length}})</h4>
                        <h6 class="card-subtitle">Tiendas registrados en la app</h6>
                    </div>
                    <div class="col-1">
                        <div class="text-right">
                            <button (click)="openEditModal()" class="btn btn-outline-success" data-toggle="tooltip"
                                data-original-title="Edit" data-bs-toggle="modal" data-bs-target="#editTienda">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <br>
                <hr>

                <div class="table-responsive">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th>Img</th>
                                <th>Img Front</th>
                                <th>Nombre</th>
                                <th>Local</th>
                                <th>status</th>
                                <th>Categoria</th>
                                <th class="text-nowrap">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let tienda of tiendas |  paginate: { itemsPerPage: count, currentPage: p } | orderBy:'createdAt, desc'">
                                <td class="text-center">
                                    <img [src]="tienda.img | imagenPipe: 'tiendas'" class="img-responsive avatar"
                                        alt="{{tienda.nombre}}">
                                </td>
                                <td class="text-center">
                                    <img [src]="tienda.img_hero | imagenPipe: 'tiendas'" class="img-responsive " style="width: 45px; height: auto;">
                                </td>
                                <td>
                                    {{tienda.nombre}}
                                </td>
                                <td>
                                    {{tienda.local}}
                                </td>
                                <td>
                                    <!-- Botón que se muestra SOLO cuando la tienda está Desactivada (para poder Activarla) -->
                                    <button type="button" class="btn btn-outline-success" *ngIf="tienda.status === 'Desactivado'"
                                        (click)="activar(tienda._id, 'Activo')">
                                        <span class="czi-check"></span> Activo
                                    </button>

                                    <!-- Botón que se muestra SOLO cuando la tienda está Activa (para poder Desactivarla) -->
                                    <button type="button" class="btn btn-primary" *ngIf="tienda.status === 'Activo'"
                                        (click)="desactivar(tienda._id, 'Desactivado')">
                                        <span class="czi-close"></span> Desactivar
                                    </button>
                                </td>
                                <td>
                                    {{tienda?.categoria?.nombre}}
                                </td>
                                <td class="text-nowrap text-center">
                                    <button class="btn btn-outline-success" data-toggle="tooltip"
                                        data-original-title="Edit" (click)="onEditProject(tienda)"
                                        data-bs-toggle="modal" data-bs-target="#editTienda">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    &nbsp;
                                    <button *ngIf="user.role === 'SUPERADMIN'" (click)="eliminarTienda(tienda)"
                                        class="btn btn-outline-danger" data-toggle="tooltip"
                                        data-original-title="Borrar">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>
<app-modalinfo-tiendas></app-modalinfo-tiendas>
<app-tiendaadd (refreshTiendaList)="loadTiendas()" [tiendaSeleccionado]="tiendaSeleccionado" (closeModal)="onClose()"
    #editTienda></app-tiendaadd>