<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

          <p>{{'En esta sección podrás'|translate}}:</p>
          <ul>
            <li>{{'Crear Tipos de Pago que use tu negocio'|translate}}</li>
            <li>{{'Usa los datos bancarios para que transfieran a tu cuenta en dólares o euros'|translate}}</li>
            <li>{{'Si esta disponible el sistema de pago móvil, agrega los datos'|translate}} </li>
            <li>{{'Para agregar los datos de paypal, es necesario nuestra asistencia técnica'|translate}}</li>
            <li>{{'La cuenta de paypal actual esta en modo prueba, y es de nuestra empresa'|translate}}</li>
          </ul>

      </div>
      <div class="modal-footer botonesmodal">
        <button type="button" class="btn btn-outline-success" data-dismiss="modal">{{'Continuar'|translate}}</button>
        <button type="button" class="btn btn-outline-danger" (click)="onNoShowMore()">
          {{'No quiero ver más este mensaje'|translate}}</button>
      </div>
    </div>
  </div>
</div>