<app-back-instrucc (onOpenHelp)="instruccionesModal.open()"></app-back-instrucc>
<section>
    <div class="pt-2 px-4 pl-lg-0 pr-xl-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="border-bottom boton-title">
                    <h1 class="mt-lg-4">{{'Pedidos'|translate}}</h1>
                </div>
                <!-- tab -->
                <div class="tab-content-set">
                    <ul class="nav">
                        <li>
                            <a href="#" onclick="return false;" [ngClass]="{'active': option_selectedd == 1}"
                                (click)="optionSelected(1)">
                                <h3 class="btn btn-outline-info"> {{'Pendientes'|translate}}</h3>
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="return false;" [ngClass]="{'active': option_selectedd == 2}"
                                (click)="optionSelected(2)">
                                <h3 class="btn btn-outline-info">{{'Activo'|translate}}</h3>
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="return false;" [ngClass]="{'active': option_selectedd == 3}"
                                (click)="optionSelected(3)">
                                <h3 class="btn btn-outline-info">{{'Finalizados'|translate}}</h3>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" (click)="PageSize()" class="btn btn-outline-primary ">
                                <i class="fa fa-sync"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- tab -->
                <!-- Pendientes -->
                <div *ngIf="option_selectedd == 1">
                    <app-loading *ngIf="cargando"></app-loading>
                    <div class="row " *ngIf="!cargando">
                        <div class="col-md-6 col-lg-4 "
                            *ngFor="let item of pedidos |  paginate: { itemsPerPage: count, currentPage: p } | orderBy:'createdAt, desc' | pedidoStatus:'PENDING'">
                            <div class="card ">
                                <app-fichaPedido [item]="item" [activar]="activar" [finalizar]="finalizar"
                                    [eliminarPedido]="eliminarPedido"></app-fichaPedido>
                                <!-- modal ver-->
                                <app-modal-ver-pedido [item]="item"></app-modal-ver-pedido>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Activo -->
                <div *ngIf="option_selectedd == 2">
                    <app-loading *ngIf="cargando"></app-loading>
                    <div class="row " *ngIf="!cargando">
                        <div class="col-md-6 col-lg-4 "
                            *ngFor="let item of pedidos |  paginate: { itemsPerPage: count, currentPage: p } | orderBy:'createdAt, desc' | pedidoStatus:'INPROCESS'">
                            <div class="card ">
                                <app-fichaPedido [item]="item" [activar]="activar" [finalizar]="finalizar"
                                    [eliminarPedido]="eliminarPedido"></app-fichaPedido>
                                <!-- modal ver-->
                                <app-modal-ver-pedido [item]="item"></app-modal-ver-pedido>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Finalizados -->
                <div *ngIf="option_selectedd == 3">
                    <app-loading *ngIf="cargando"></app-loading>
                    <div class="row " *ngIf="!cargando">
                        <div class="col-md-6 col-lg-4 "
                            *ngFor="let item of pedidos |  paginate: { itemsPerPage: count, currentPage: p } | orderBy:'createdAt, desc' | pedidoStatus:'FINISHED'">
                            <div class="card ">
                                <app-fichaPedido [item]="item" [activar]="activar" [finalizar]="finalizar"
                                    [eliminarPedido]="eliminarPedido"></app-fichaPedido>
                                <!-- modal ver-->
                                <app-modal-ver-pedido [item]="item"></app-modal-ver-pedido>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-12" *ngIf="!cargando">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</section>
<app-modal-instrucciones [info]="info" [sectionId]="'pedidos'" #instruccionesModal></app-modal-instrucciones>