.imgtranf {
    width: 45px;
    border-radius: 8%;
    border: 1px solid #ccc;
}

.btn-outline-primary.rounded-circle {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  font-weight: bold;
}