ul{
    list-style: none;
    display: flex;
}
ul li{
    list-style: none;
    display: flex;
    padding: 5px;
}

.productos-atention{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    
}
.product-name,.price,.precioantes{
    text-align: left;
    display: flex;
}

.productos-atention .img-wrapper{
    display: flex;
    width: 180px;
    height: 180px;
    overflow: hidden;
    margin: auto;
    overflow: hidden;
}
.productos-atention img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
    
}
.product-name{

}

.price{
    color: green;
    margin: 0;
    padding: 0;
}

.precioantes{
    text-decoration: line-through;
    color: red

}

.listacolor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: baseline;
    margin-top: -30px;
}
.listacolor  i{
    border: 2px solid #fff;
    box-shadow: 0px 0px 2px #333;
    border-radius: 100px; height: 30px; width: 30px;
}


.imagecircle {
    width: 40px;
    height: 40px;
    padding: 2px;
    border: 1px solid #ccc;
    margin-top: 5px;
    border-radius: 100px;
}

.title-section {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.circle {
    border-radius: 100px;
}

.tab-content-set {
    display: flex;
    justify-content: space-between;
    
}

.tab-content-set .nav {
    align-items: center;
    padding: 6px;
    gap: 5px;


}

.tab-content-set .nav li {
    padding: 5px;
    font-size: 16px;
    color: #333;
}


.tab-content-set .nav li a {
    color: #333;
    text-decoration: none;

}


.active {
    color: #b02b2b !important;
}
