<div class="row">
        <div class="col-10">
        </div>
        <div class="col-1">
            <app-backbutton></app-backbutton>
        </div>
        <div class="col-1">
            <div class="text-right">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <button class="btn btn-outline-primary btn-sm rounded-circle shadow-sm"
                        (click)="instruccionesModal.open()" title="Ayuda de la sección">
                        <i class="fa fa-question"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

<div class="row animated fadeIn fast">
    <div class="col-12">
        <app-search [query]="query" [modelo]="pagoefectivo" [colleccionName]="pagoefectivos"
            [colleccion]="'pagoefectivos'" (searchEvent)="handleSearchEvent($event)"
            (resetEvent)="PageSize()"></app-search>

    </div>
</div>
<div class="container">
    <app-skeleton-loader *ngIf="cargando" [rows]="1" [columns]="3"></app-skeleton-loader>
    <app-skeleton-loader *ngIf="cargando" [rows]="2" [columns]="2"></app-skeleton-loader>
    
    <div class="row" *ngIf="!cargando">

        <div class="col">

            <div class="card">
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>{{'Nombre y Apellido'|translate}}</th>
                                    <th>{{'Monto'|translate}}</th>
                                    <th>{{'Teléfono'|translate}}</th>
                                    <th *ngIf="user.role==='SUPERADMIN'">{{'Tienda'|translate}}</th>
                                    <th>{{'Fecha'|translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pago of pagoefectivos | orderBy:'createdAt, desc'; let i=index ">
                                    <td>{{i}}</td>
                                    <td>{{pago.name_person}}</td>
                                    <td>{{pago.amount|currency}}</td>
                                    <td>{{pago.phone}}</td>
                                    <td *ngIf="user.role==='SUPERADMIN'">
                                        {{pago.local?.nombre | date}}
                                    </td>
                                    <td>{{pago.paymentday | date : "shortDate"}}</td>
                                </tr>
                                <tr *ngIf="pagoefectivos.length<=0">
                                    <td colspan="5">
                                        <div class="alert alert-danger">
                                            {{'No hay pagos en efectivo registrados'|translate}}
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<app-modal-instrucciones [info]="info" [sectionId]="'PagoEfectivo' |translate"
    #instruccionesModal></app-modal-instrucciones>