<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

          <p>{{'En esta sección podrás'|translate}}:</p>
          <ul>
            <li>{{'Crear los tipos de Delivery con precios'|translate}}</li>
            <li>{{'Asignar Envios a ventas de delivery'|translate}}</li>
            <li>{{'Visualizar en tiempo real los pedidos, rutas y choferes'|translate}}</li>
          </ul>

      </div>
      <div class="modal-footer botonesmodal">
        <button type="button" class="btn btn-outline-success" data-dismiss="modal">{{'Continuar'|translate}}</button>
        <button type="button" class="btn btn-outline-danger" (click)="onNoShowMore()">
          {{'No quiero ver más este mensaje'|translate}}</button>
      </div>
    </div>
  </div>
</div>