
<div class="row animated fadeIn fast">
    <div class="col-12">
        <app-search [query]="query" [modelo]="reservaciones" [colleccionName]="reservaciones"
 [colleccion]="'reservaciones'" (searchEvent)="handleSearchEvent($event)" (resetEvent)="PageSize()"></app-search>
       
    </div>
</div>
<app-skeleton-loader *ngIf="cargando" [rows]="1" [columns]="3"></app-skeleton-loader>
<app-skeleton-loader *ngIf="cargando" [rows]="4" [columns]="9"></app-skeleton-loader>



<div class="row" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-10">
                        <!-- <h4 class="card-title">Transferencias: ({{ trasnferencias.length}})</h4> -->
                        <h6 class="card-subtitle">Transferencias registrados en la app</h6>
                    </div>
                    <div class="col-2 d-flex justify-content-end">
                        <app-backbutton></app-backbutton>
                    </div>
                </div>
                <br>
                <hr>

                <div class="table-responsive">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th>fecha</th>
                                <th>Cliente</th>
                                <th>personas</th>
                                <th>hora</th>
                                <th>listaespera</th>
                                <th>email</th>
                                <th *ngIf="user.role==='SUPERADMIN'">Local</th>
                                <th>Creada</th>
                                <th>Status</th>
                                <th>Aprobar</th>
                                <th>Actualizada</th>
                                <th class="text-nowrap">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let reserv of reservaciones |  paginate: { itemsPerPage: count, currentPage: p } | orderBy:'createdAt, desc'">
                        
                                <td>
                                    {{reserv.fecha | date}}
                                </td>
                                <td>
                                    <a (click)="onViewPago(reserv)" data-bs-toggle="modal" class="cursor"
                                            data-bs-target="#viewReservacion">{{reserv.first_name}} {{reserv.last_name}}</a>
                                    
                                </td>
                                <td>
                                    {{reserv.personas}}
                                </td>
                                <td>
                                    {{reserv.hora}}
                                </td>
                                <td>
                                    {{reserv.listaespera}}
                                </td>
                                <td>
                                    {{reserv.email}}
                                </td>
                                <td *ngIf="user.role==='SUPERADMIN'">
                                    {{reserv.local?.nombre }}
                                </td>
                                <td>
                                    {{reserv.createddAt | date:'mediumDate'}}
                                </td>
                                <td>
                                    <div class="font-size-sm mb-4">
                                        <span class="badge badge-primary badge-shadow" *ngIf="reserv.status == 'Pendiente'">{{reserv.status}}</span>
                                        <span class="badge badge-success badge-shadow" *ngIf="reserv.status == 'Confirmada'">{{reserv.status}}</span>
                                        <span class="badge badge-danger badge-shadow" *ngIf="reserv.status == 'Cancelada'">{{reserv.status}}</span>
                                        <span class="badge badge-warning badge-shadow" *ngIf="reserv.status == 'Completada'">{{reserv.status}}</span>
                                        
                                    </div>
                                </td>
                                <td class="text-nowrap text-center">
                                   

                                    <select class="form-select fw-bolder" [(ngModel)]="reserv.status"
                                                (change)="cambiarStatus(reserv)" [ngClass]="{
                                                'border-info text-info': reserv.status === 'Pendiente',
                                                'border-success text-success': reserv.status === 'Confirmada',
                                                'border-danger text-danger': reserv.status === 'Cancelada',
                                                'border-warning text-warning': reserv.status === 'Completada'
                                            }">
                                                <option value="Pendiente">Pendiente</option>
                                                <option value="Confirmada">Confirmada</option>
                                                <option value="Cancelada">Cancelada</option>
                                                <option value="Completada">Completada</option>
                                            </select>

                                </td>
                                <td>
                                    {{reserv.updatedAt | date:'mediumDate'}}
                                </td>
                                <td class="text-nowrap text-center">
                                      <a (click)="eliminarTramsf(reserv)" class="btn btn-outline-danger " > 
                                        <i class="fa fa-trash text-danger"></i> 
                                    </a>
                                   
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>
<app-reservacion-view [reservaSeleccionado]="reservaSeleccionado" (closeModal)="onClose()" #viewReservacion></app-reservacion-view>
<!-- <app-modalinfo-reserverencias></app-modalinfo-reserverencias> -->