<div class="tab-content-set">
    <ul class="nav">
        <li>
            <a href="#" onclick="return false;" [ngClass]="{'active': option_selectedd == 1}"
                (click)="optionSelected(1)">
                <h3 class="btn btn-outline-info"> {{'Usuarios'}}</h3>
            </a>
        </li>
        <li>
            <a href="#" onclick="return false;" [ngClass]="{'active': option_selectedd == 2}"
                (click)="optionSelected(2)">
                <h3 class="btn btn-outline-info">{{'Clientes'}}</h3>
            </a>
        </li>
    </ul>
</div>
<div *ngIf="option_selectedd == 1">
    <div class="row animated fadeIn fast">
        <div class="col-12">
            <app-search [query]="query" [modelo]="usuario" [colleccionName]="usuarios" [colleccion]="'usuarios'"
                (searchEvent)="handleSearchEvent($event)" (resetEvent)="PageSize()"></app-search>
        </div>
    </div>

    <app-skeleton-loader *ngIf="cargando" [rows]="1" [columns]="2"></app-skeleton-loader>
    <app-skeleton-loader *ngIf="cargando" [rows]="4" [columns]="7"></app-skeleton-loader>

    <div class="row animated fadeIn fast" *ngIf="!cargando">
        <div class="col-12">
            <div class="card">
                <div class="card-body">


                    <div class="row">
                        <div class="col-11">
                            <h4 class="card-title">Total de Usuarios: ({{totalUsuarios}})</h4>
                            <h6 class="card-subtitle">Usuarios registrados en la app</h6>
                        </div>
                        <div class="col-1">
                            <div class="text-right">

                                <button [routerLink]="['/dashboard/tienda-user/registro']"
                                    class="btn btn-outline-success" data-toggle="tooltip" data-original-title="Edit">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th>Avatar</th>
                                    <th>Correo</th>
                                    <th>Nombre</th>
                                    <th>Cambiar Role</th>
                                    <th>desde</th>
                                    <th>Auth</th>
                                    <th class="text-nowrap">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let usuario of usuarios | userRolePipe |  paginate: { itemsPerPage: count, currentPage: p } | orderBy:'createdAt, desc'">
                                    <td class="text-center">
                                        <img [src]="usuario.img | imagenPipe: 'usuarios'"
                                            [routerLink]="['/dashboard/usuario/',usuario.uid]"
                                            class="img-thumbnail avatar cursor" alt="">
                                    </td>
                                    <td>{{usuario.email}}</td>
                                    <td>{{usuario.first_name}}</td>
                                    <td>
                                        <select class="form-control" [(ngModel)]="usuario.role"
                                            (change)="cambiarRole(usuario)">
                                            <option value="SUPERADMIN">Superadmin</option>
                                            <option value="ADMIN">Admin</option>
                                            <option value="USER">User</option>
                                            <option value="VENTAS">Ventas</option>
                                            <option value="TIENDA">Tienda</option>
                                            <option value="ALMACEN">Almacen</option>
                                            <option value="CHOFER">Chofer</option>
                                        </select>
                                    </td>
                                    <td>
                                        <span *ngIf="usuario.local"
                                            class="label label-success">{{usuario.local.nombre}}</span>
                                    </td>
                                    <td>
                                        <span *ngIf="usuario.google" class="label label-danger">Google</span>
                                        <span *ngIf="!usuario.google" class="label label-info">Email</span>
                                    </td>

                                    <td class="text-nowrap text-center">
                                        <button class="btn btn-outline-success" data-toggle="tooltip"
                                            [routerLink]="['/dashboard/tienda-user/edit/', usuario.uid]">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        &nbsp;
                                        <button (click)="eliminarUsuario(usuario)" class="btn btn-outline-danger"
                                            data-toggle="tooltip" data-original-title="Borrar">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <!-- <div *ngIf="query.length === 0">
                    <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Anterior</button> &nbsp;
                    <button (click)="cambiarPagina(5)" class="btn btn-secondary">Siguente</button>
                </div> -->
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>

                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="option_selectedd == 2">
    <div class="row animated fadeIn fast">
        <div class="col-12">
            <app-search [query]="query" [modelo]="usuario" [colleccionName]="usuarios" [colleccion]="'usuarios'"
                (searchEvent)="handleSearchEvent($event)" (resetEvent)="PageSize()"></app-search>
        </div>
    </div>

    <app-skeleton-loader *ngIf="cargando" [rows]="1" [columns]="2"></app-skeleton-loader>
    <app-skeleton-loader *ngIf="cargando" [rows]="4" [columns]="7"></app-skeleton-loader>

    <div class="row animated fadeIn fast" *ngIf="!cargando">
        <div class="col-12">
            <div class="card">
                <div class="card-body">


                    <div class="row">
                        <div class="col-11">
                            <h4 class="card-title">Total de Usuarios: ({{totalUsuarios}})</h4>
                            <h6 class="card-subtitle">Usuarios registrados en la app</h6>
                        </div>
                        <div class="col-1">
                            <div class="text-right">

                                <button [routerLink]="['/dashboard/tienda-user/registro']"
                                    class="btn btn-outline-success" data-toggle="tooltip" data-original-title="Edit">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th>Avatar</th>
                                    <th>Correo</th>
                                    <th>Nombre</th>
                                    <th>Cambiar Role</th>
                                    <th>desde</th>
                                    <th>Auth</th>
                                    <th class="text-nowrap">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let usuario of usuarios | userRoleclientPipe |  paginate: { itemsPerPage: count, currentPage: p } | orderBy:'createdAt, desc'">
                                    <td class="text-center">
                                        <img [src]="usuario.img | imagenPipe: 'usuarios'"
                                            [routerLink]="['/dashboard/usuario/',usuario.uid]"
                                            class="img-thumbnail avatar cursor" alt="">
                                    </td>
                                    <td>{{usuario.email}}</td>
                                    <td>{{usuario.first_name}}</td>
                                    <td>
                                        <select class="form-control" [(ngModel)]="usuario.role"
                                            (change)="cambiarRole(usuario)">
                                            <option value="SUPERADMIN">Superadmin</option>
                                            <option value="ADMIN">Admin</option>
                                            <option value="USER">User</option>
                                            <option value="VENTAS">Ventas</option>
                                            <option value="TIENDA">Tienda</option>
                                            <option value="ALMACEN">Almacen</option>
                                            <option value="CHOFER">Chofer</option>
                                        </select>
                                    </td>
                                    <td>
                                        <span *ngIf="usuario.local"
                                            class="label label-success">{{usuario.local.nombre}}</span>
                                    </td>
                                    <td>
                                        <span *ngIf="usuario.google" class="label label-danger">Google</span>
                                        <span *ngIf="!usuario.google" class="label label-info">Email</span>
                                    </td>

                                    <td class="text-nowrap text-center">
                                        <button class="btn btn-outline-success" data-toggle="tooltip"
                                            [routerLink]="['/dashboard/tienda-user/edit/', usuario.uid]">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        &nbsp;
                                        <button (click)="eliminarUsuario(usuario)" class="btn btn-outline-danger"
                                            data-toggle="tooltip" data-original-title="Borrar">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <!-- <div *ngIf="query.length === 0">
                    <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Anterior</button> &nbsp;
                    <button (click)="cambiarPagina(5)" class="btn btn-secondary">Siguente</button>
                </div> -->
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>

                </div>
            </div>
        </div>
    </div>
</div>